<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bluesmoke.fisd" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FISD</name>
    <description>
        App for Friendswood ISD
    </description>
    <author email="jim@bluesmokellc.net" href="http://bluesmokellc.net">
        Coconnect
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <icon src="icon.png" />
</widget>
