<?xml version='1.0' encoding='utf-8'?>

<widget id="com.bluesmoke.fisd" 
        version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"> 

    <name>FISD</name>

    <description>
        App for Friendswood ISD
    </description>

    <author email="jim@bluesmokellc.net" href="http://bluesmokellc.net">
        Coconnect
    </author>

    <content src="index.html" />
    
    <access origin="*" />

    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
    
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    
    <icon src="icon.png" />

    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="blackberry" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-640x920.png"   gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-640x1096.png"  gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-1536x2008.png" gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-1496x2048.png" gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="images/demo_content/splashscreens/apple-touch-startup-image-320x460.png"   gap:platform="winphone" />

</widget>
